<div class="container mt-4">    
    <h2 class="mb-4 border-bottom border-3 border-danger">Produto</h2>
    
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input id="descricao" type="text" class="form-control" formControlName="descricao">
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input id="valor" type="text" class="form-control" formControlName="valor" mask="separator.2"
                    prefix="R$ ">
            </div>
            <div class="col-md-3 mb-3">
                <label for="estoque" class="form-label">Estoque</label>
                <input id="estoque" type="text" class="form-control" formControlName="estoque">
            </div>
            <div class="col-md-6 mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select" aria-label="Default select example" formControlName="tipo">
                    <option [ngValue]="null" disabled selected>Selecione um tipo</option>
                    <option *ngFor="let tipo of listaTipos" [ngValue]="tipo">{{ tipo.descricao }}</option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <a routerLink="/produtos" class="btn btn-secondary">
                Cancelar
            </a>
            <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">
                Salvar
            </button>
        </div>

    </form>
</div>