<div class="container mt-4">
    <h2 class="mb-4 border-bottom border-3 border-danger">Autenticar usuário</h2>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <label for="login" class="form-label">CPF</label>
                <input id="login" mask="000.000.000-00" type="text" class="form-control" formControlName="login">
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <label for="senha" class="form-label">Senha</label>
                <input id="senha" type="password" class="form-control" formControlName="senha">
            </div>
        </div>

        <div class="d-flex justify-content-end mt-3 gap-2">
            <button type="submit" class="btn btn-primary col-md-6" [disabled]="formGroup.invalid">
              Entrar
            </button>
          
            <button type="button" class="btn btn-secondary col-md-6" (click)="irParaCadastro()">
              Cadastrar
            </button>
          </div>          
    </form>

</div>